body{border-top: 18px black solid ; padding-top: 40px;     background: url(../images/bg-lines.gif)no-repeat 0 106px, url(../images/lines.gif) no-repeat 1170px 106px;}
.angular-lightbox {display: none;}
    