<div class="" >
            
    <ul class="list-inline unstyle-list">
            <li class="list-inline-item"><button type="submit" class="btn btn-sm btn-dark">A+</button></li>
            <li class="list-inline-item"><button type="submit" class="btn btn-sm btn-dark">A-</button></li>
    </ul> 
    <h5 class="font-weight-bold">Simulado 2008</h5>
    <ul class="nav navbar-nav navbar-left">
        <li><a href="">Simulado 10</a></li>
        <li><a href="">Simulado 9</a></li>
        <li><a href="">Simulado 8</a></li>
        <li><a href="">Simulado 7</a></li>
        <li><a href="">Simulado 6</a></li>
        <li id="accordion">
            <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Simulado 5</a>
            <ul id="collapseOne" class="collapse show " aria-labelledby="headingOne" data-parent="#accordion">
                    <li><a href="">prova objetiva</a>
                    </li>
                    <li><a href="">prova final</a>
                    </li>
            </ul>
        </li>
        <li><a href="">Simulado 4</a></li>
        <li><a href="">Simulado 3</a></li>
        <li><a href="">Simulado 2</a></li>
        <li><a href="">Simulado 1</a></li>   
    </ul>


  </div>